node_modules
yarn.lock
build
coverage
Config
lerna-debug.log
node_modules
packages/*/src/Platform/**
packages/*/.nyc_output/**
packages/*/node_modules/**
packages/**/lib/
packages/**/lib-esm/
packages/**/dist/
packages/**/es/
packages/**/esm/
packages/**/cjs/
dist
.DS_Store
.vscode
.idea
*.log
.npm/
packages/**/cypress/videos/
package-lock.json
res/

*.log
.DS_Store
.jest-*
lib
node_modules

*.swp
*.swo

build/

.vscode/
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace


# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

# ios pods
packages/mobile/ios/Pods/
